{% extends 'base.html.twig' %}

{% block h1 %} Les auteurs {% endblock %}

{% block body %}

 {% block h2 %} Les auteurs h2 !  {% endblock %}
<div class='container-sm'> 
    <table class='table table-striped'>
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td> {{author.name}}</td>
                    <td> 
                        <a href="{{ path('app_author_show', {id: author.id}) }}" class='btn btn-primary'>
                        Voir 
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>

{% endblock %}
